.table-container {
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

th {
	background: #4060AD;
	color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> 12d0676d10284011d8817db7f3059aeedbbdc1da
